<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/operator_facilitator.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/element-ui_2.12.0.css">

<script src="../js/jquery-3.4.1.min.js" type="text/javascript"></script>
</head>
<body>
<input type="hidden" th:value="${count}" id="count" />
	<input type="hidden" th:value="${pageSize}" id="pageSize" />
	<input type="hidden" th:value="${pageStart}" id="pageStart" />
	
<script>
	$(document).ready(function(){
		var pcount=$('#count').val();
		var psize=$('#pageSize').val();
		var pstart=$('#pageStart').val();
		var serviceName=$('#serviceName').val();
		var nowpage=Math.floor(pstart/psize)+1;		
		var cpage=Math.ceil(pcount/psize);
		var strhtml="";
		
		if(cpage<=10){
			for(var i=1;i<=cpage;i++){
				if(i==nowpage){
					strhtml+='<a href=/fenyelikeH?pageStart='+psize*(i-1)+'&serviceName='+serviceName+' style="background-color:#aaaaaa;font-weight:700">'+i+'</a>';
					//strhtml+='<a href=/userAll?pageStart='+psize*(i-1)+' style="background-color:#aaaaaa"><div class="nowpage">'+i+'</div></a>';
				}else{
					strhtml+='<span> <a href=/fenyelikeH?pageStart='+psize*(i-1)+'&serviceName='+serviceName+'>'+i+'</a></span>';
				}
			}
		}
		else if(cpage>10){
			
			if( 1<=nowpage && nowpage<=6){		//pagestart=20 nowpage=11 cpage=15
			
				for(var i=1;i<=10;i++){			
				
					if(i==nowpage){
						strhtml+='<a href=/fenyelikeH?pageStart='+psize*(i-1)+'&serviceName='+serviceName+' style="background-color:#aaaaaa;font-weight:700">'+i+'</a>';
						//strhtml+='<a href=/userAll?pageStart='+psize*(i-1)+' style="background-color:#aaaaaa"><div class="nowpage">'+i+'</div></a>';
					}else{
						strhtml+='<span> <a href=/fenyelikeH?pageStart='+psize*(i-1)+'&serviceName='+serviceName+'>'+i+'</a></span>';
					}
				}
			}
			else if( nowpage<=cpage-4){
				
				for(var i=nowpage-5;i<=nowpage+4;i++){//6--15			
			
					if(i==nowpage){
						strhtml+='<a href=/fenyelikeH?pageStart='+psize*(i-1)+'&serviceName='+serviceName+' style="background-color:#aaaaaa;font-weight:700">'+i+'</a>';
						//strhtml+='<a href=/userAll?pageStart='+psize*(i-1)+' style="background-color:#aaaaaa"><div class="nowpage">'+i+'</div></a>';
					}else{
						strhtml+='<span> <a href=/fenyelikeH?pageStart='+psize*(i-1)+'&serviceName='+serviceName+'>'+i+'</a></span>';
					}
				
				}
			} 
			else if( cpage-4<nowpage && nowpage<=cpage){
			
				for(var i=cpage-9;i<=cpage;i++){
				
					if(i==nowpage){
						strhtml+='<a href=/fenyelikeH?pageStart='+psize*(i-1)+'&serviceName='+serviceName+' style="background-color:#aaaaaa;font-weight:700">'+i+'</a>';
						//strhtml+='<a href=/userAll?pageStart='+psize*(i-1)+' style="background-color:#aaaaaa"><div class="nowpage">'+i+'</div></a>';
					}else{
						strhtml+='<span> <a href=/fenyelikeH?pageStart='+psize*(i-1)+'&serviceName='+serviceName+'>'+i+'</a></span>';
					}
				}
			}
			else{
				console.error(00000000);
			}
		}
		else{  console.error(00000000); }
		$("#mydiv").html(strhtml);

			})();
	</script>
	<body>	

    <div class="header">
        <div class="logo_info">
            <img src="./images/logo.png" alt="logo">
            <span class="platform_name">信达</span>
        </div>
        <ul class="user_info">
            <li><a href="/fenyelikeO"><i class="fa fa-cog fa-fw"></i>服务管理</a></li>
            <li><i class="fa fa-cube fa-fw"></i>业务管理</li>
            <li>
                <img src="./images/default_user.png">
                <span>用户名字</span>
                <i class="fa fa-chevron-down fa-fw user-arrow-down"></i>
                <ul class="dropdown">
                    <li>更改信息</li>
                    <li>退出登录</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main">
        <ul class="main-nav">
            <li>
                <a href="fenyelikeT">
                    <i class="fa fa-shopping-cart fa-fw"></i>
                    <p>订单</p>
                </a>
            </li>
            <li>
                <a href="fenyelikeU">
                    <i class="fa fa-user fa-fw"></i>
                    <p>用户</p>
                </a>
            </li>
            <li class="bg-red">
                <a href="fenyelikeH">
                    <i class="fa fa-tasks fa-fw"></i>
                    <p>服务商</p>
                </a>
            </li>
            <li>
                <a href="fenyelike9">
                    <i class="fa fa-cny fa-fw"></i>
                    <p>费用中心</p>
                </a>
            </li>
           
        </ul>
        <div class="main-details">
            <div class="main-top">
                <ul>
                    <li>
                        <i class="fa fa-home fa-fw"></i>
                    </li>
                    <li>服务商</li>
                    <li>/</li>
                    <li>正常</li>
                </ul>
            </div>
            <ul class="main-tab">
                <li class="border-red order1">正常</li>
                <li class="order2">停用</li>
            </ul>
            <div class="main-content">
                <div class="search">
                     <form action="fenyelikeH" method="post">
                    <input placeholder="服务商品名称查询" name="serviceName"  th:value="${serviceName}" id="serviceName"/><button><i class="fa fa-search fa-fw"></i></button>
                    </form>
                </div>
            </div>
            <table border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>服务商名称</th>
                        <th>地区</th>
                        <th>联系电话</th>
                        <th>服务商简介</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                     <tr th:each="service_user:${xdServiceUserList}">
                       <td th:text="${service_user.serviceName}"></td>
                            <td th:text="${service_user.area}"></td>
                         <td th:text="${service_user.servicePhone}"></td>
                         <td th:text="${service_user.synopsis}"></td> 
                        </td>
                    </tr>
                </tbody>
            <div class="main-sercive">根据不同order点击的返回值进行渲染，不需要多个界面来回展示，停用、未通过无推荐选项，单数据库表中要有推荐字段</div>
        </div>
    </div>
      </table>
                <table  th:if="${count} gt '0'"
		th:with="pageNext=${pageStart}+${pageSize},
		pagePre=${pageStart}-${pageSize},
		modPage=${count}%${pageSize},
		pageLast=${count}-${modPage},
		lastPage=${count}-${pageSize}">
	
		<tr class="pagination">
		
			<td><a th:href="@{'/fenyelikeH?pageStart=' + 0+'&serviceName='+${serviceName}}">首页</a></td>
			<td><span th:if="${pagePre} ge '0'" class="main-pagination-page"><a
					th:href="@{'/fenyelikeH?pageStart=' + ${pagePre}+'&serviceName='+${serviceName}}">上一页</a></span></td>
			<td><div id="mydiv"></div></td>
			<td><span th:if="${pageNext} lt ${count}" ><a
					th:href="@{'/fenyelikeH?pageStart=' + ${pageNext}+'&serviceName='+${serviceName}}">下一页</a></span></td>
			<td><span th:if="${modPage} eq  '0'"  ><a
					th:href="@{'/fenyelikeH?pageStart=' + ${lastPage}+'&serviceName='+${serviceName}}">末页</a></span></td>
			<td>
			<td><span th:unless="${modPage} eq  '0'"  ><a
					th:href="@{'/fenyelikeH?pageStart=' + ${pageLast}+'&serviceName='+${serviceName}}">末页</a></span>
           </td>
	</tr>
	</table>
    <script src="./js/operator_facilitator.js"></script>
</body>

</html>