<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<link rel="stylesheet" href="./css/public.css">
<link rel="stylesheet" href="./css/header.css">
<link rel="stylesheet" href="./css/service_setting.css">
<link rel="stylesheet" href="./css/font-awesome.min.css">
<link rel="stylesheet" href="./css/element-ui_2.12.0.css">
<script type="text/javascript" src="./js/Address.js"></script>
<script src="./js/jquery-3.4.1.min.js"></script>

<script src="./js/jquery-3.4.1.min.js"></script>
</head>

<body>
	<div class="header">
		<div class="logo_info">
			<img src="./images/logo.png" alt="logo"> <span
				class="platform_name">信达</span>
		</div>
		<ul class="user_info">
			<li><a href="service_product.html"><i
					class="fa fa-cog fa-fw"></i>服务管理</a></li>
			<li><i class="fa fa-shopping-cart fa-fw"></i>新订单(0)</li>
			<li><i class="fa fa-bell-o fa-fw"></i>通知(0)</li>
			<li><img src="./images/default_user.png"> <span>用户名字</span>
				<i class="fa fa-chevron-down fa-fw user-arrow-down"></i>
				<ul class="dropdown">
					<li>更改信息</li>
					<li>退出登录</li>
				</ul></li>
		</ul>
	</div>
	<div class="main">
		<ul class="main-nav">
			<li><a href="#"> <i class="fa fa-home fa-fw"></i>
					<p>主页</p>
			</a></li>
			<li><a href="service_orderform.html"> <i
					class="fa fa-shopping-cart fa-fw"></i>
					<p>订单</p>
			</a></li>
			<li><a href="service_expenses.html"> <i
					class="fa fa-cny fa-fw"></i>
					<p>费用</p>
			</a></li>
			<li><a href="service_store.html"> <i
					class="fa fa-institution fa-fw"></i>
					<p>店铺</p>
			</a></li>
			<li class="bg-red"><a href="service_setting.html"> <i
					class="fa fa-cog fa-fw"></i>
					<p>设置</p>
			</a></li>
		</ul>
		<div class="main-details">
			<div class="main-top">
				<ul>
					<li><i class="fa fa-home fa-fw"></i></li>
					<li>设置</li>
				</ul>
			</div>
			<ul class="main-tab">
				<li class="border-red order1">服务商信息</li>
			</ul>
			<div class="main-content">
				<div class="avatars">
					<img src="" alt="用户头像">
					<p>更换头像</p>
				</div>
				<ul class="store-info">
				<tr th:each="user:${xdProductList}">
					<li><span>服务商名称</span><td th:text="${user.username}"></td></li>
					<li><span>地区</span> <span><td th:text="${user.username}"></td></span></li>
					<li><span>手机号</span> <span><td th:text="${user.username}"></td></span></li>
					<li><span>微信</span> <span><td th:text="${user.username}"></td></span></li>
					<li><span>QQ</span> <span><td th:text="${user.username}"></td></span></li>
					<li><span>邮箱</span> <span><td th:text="${user.username}"></td></span></li>
					<li>
						<button class="change-info">修改</button>
					</li>
					</tr>
				</ul>
			</div>
			<div class="main-sercive">银行信息。。</div>
		</div>
	</div>
	<div class="masking">
		<div class="scroller">
				 <form id="login_value" name="login_value" action="">
			<form action="/update">
				<h3>添加服务产品</h3>
				<ul>
					<li><span>头像</span>
						<button>选择图片</button></li>
						
					<li><span>服务id</span> <input placeholder="请输入服务id" name="id"
						th:text="${id}" id="id"></li>
						
					<li><span>服务商名称</span> <input placeholder="请输入服务名称"
						name="serviceName" th:text="${serviceName}" id="id"></li>
						
					<li><span class="ver-top"></span>
					选择地区 <select id="cmbProvince">
					</select> <select id="cmbCity">
					</select> <select id="cmbArea">
					</select> <script type="text/javascript">
						addressInit('cmbProvince', 'cmbCity', 'cmbArea', '省',
								'市', '县');
					</script></li>
					
					<li><span class="ver-top">手机号</span> <input type="text"
						placeholder="请输入手机号" name="servicePhone" th:text="${servicePhone}"
						id="id"></li>
						
					<li><span class="ver-top">微信</span> <input type="text"
						placeholder="请输入微信" name="worktime" th:text="${worktime}" id="id">
					</li>
					
					<li><span class="ver-top">QQ</span> <input type="text"
						placeholder="请输入QQ" name="qq" th:text="${qq}" id="id"></li>
						
					<li><span class="ver-top">邮箱</span> <input type="text"
						placeholder="请输入邮箱" name="email" th:text="${email}" id="id">
					</li>
				</ul>
			</form>
			</form>
			<button class="submit">提交</button>
			<button class="cancel">取消</button>
		</div>
		<script src="./js/service_setting.js"></script>
</body>

</html>